body {
    margin: 0 auto;
    font-family: 'Raleway', 'Poppins', Arial, sans-serif;
}

img {
    width: 700px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: blue;
}